p{
    margin-bottom: unset !important;
}
.topPage{
    margin-bottom: 80px;
}
/*Barra de busqueda*/
.busqueda{
    position: absolute;
    left: 0px;
    transform: translateX(50%);
    /* margin-top: 80px; */
}
.barraBusqueda{
    display: flex;
}
.tituloBusqueda{
    color: #4a4c76;
    font-weight: 700;
}
#input{
    max-width: 400px;
    min-width: 200px;
}



/*Orden y filtros*/
.orden{
    position: absolute;
    right: 5%;
    /* margin-top: 40px; */
    top: 320px;
    width: 30%;
    min-width: 130px;
}
    #ordenField{
       margin-bottom: 3px;
       text-align: center;
    }
    .orden a{
        text-decoration: none;
        color: #4a4c76;
        padding-left: 5px;
        padding-right: 5px;
        transition-duration: 100ms;
    }
    .orden a:hover{
        color: white;
        background-color: #4a4c76;
        border-radius: 5px;
        /* font-weight: 600; */
    }
    .ordenMenu{
        background-color: #4a4c76;
        color: white;
        border-radius: 5px;
        border-style: none;
    }
    #botonInvertir{
        text-align: center;
        display: none;
    }



/*Cards*/
#cardGroup{
    justify-content: center;
    padding-right: unset !important; 
    padding-left: unset !important;
    margin-right: unset !important;
    margin-left: unset !important;
}
.card-alojamiento{
    background-image: unset;
    margin: 30px;
    padding-left: unset !important;
    padding-right: unset !important;
}
.cardButton{
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translateY(50%) translateX(50%);
    padding: 5px;
    border-radius: 5px;
    border: solid white 1px;
    text-decoration: none;
    color: white;
    pointer-events: none; /*El cursor ignora el boton y el hover de los elementos que esten debajo funcionan a traves de este*/
    opacity: 0;
    transition-duration: 500ms;
}
.cardTop{
    position: relative;
}
    .cardTop img:hover + .cardButton{
        opacity: 1;
        transition-duration: 500ms;
    }
    .cardTop img:hover{
        filter: blur(2px) brightness(60%);
        transition-duration: 500ms;
    }
    .cardTop img{
        transition-duration: 500ms;
    }
.nombreHotel{
    color: #4a4c76;
    font-weight: 700;
}
.ubicacionHotel{
    font-size: 12px;
    color: gray;
}
.precioHotel{
    color: #ff8777;
    font-weight: 700;
    position: relative;
    right: auto;
    left: auto;
}
.descripcionHotel{
    font-size: 15px;
    padding-bottom: 8px;
}
.filter-grey{
    filter: invert(90%) sepia(0%) saturate(1775%) hue-rotate(76deg) brightness(60%) contrast(96%);
}

/*Modal*/
#botonModal{
    background-color: #4a4c76;
    color: white;
}
.modal-footer{
    border-top: none !important;
}
.modal-header{
    border-bottom: none !important;
}



/*El div con esta id no esta en la pagina por defecto, 
pero aparece por javascript cuando no se encuentran hoteles al buscar*/
#notFound{
    font-size: 40;
    color: gray;
    width: 100%;
    text-align: center;
}

 @media (max-width: 520px){
    .busqueda{
        text-align: center;
        position: relative;
        transform: unset;
    }
        .barraBusqueda{
            display: block;
        }
        #input{
            margin: auto;
            width: 80%;
        }
    .orden{
        top: 370px;
        right: 40%;
    }
}