.map-container{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-container iframe{
    left: 0;
    top: 0;
    height: 70%;
    width: 100%;
    position: absolute;
}
.bg{
    background-image: url("https://i.pinimg.com/originals/e9/97/3c/e9973c91819865862b787e4ec4bf33a8.jpg");
    background-repeat: repeat;
    background-size: contain;
}

a:hover{
    background-color: yellow;
}