/*Estilo de "Lugares que no puedes perderte"*/
.card{
    opacity: 1;
}
.card h5{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.493);
    padding: 10px;
    font-family: text;
    font-size: 30px;
}
.btn-primary, .btn-rounded{
    background-color: rgb(0, 76, 143);
    border: none;
    border-radius: 110px;
}
/*FIN estilo de "Lugares que no puedes perderte"*/



/* Cards */
.postcard {
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  font-family: text;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: column wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
/*FIN Cards */



