/*Estilo navbar*/
a{
    color: white;

}
.title h1{
    font-family: title;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
/*FIN estilo navbar*/

/*Fuentes*/
@font-face {
    font-family: title;
    src: url(../fonts/TAKOYAKI.ttf);
}