a,
a:hover {
    text-decoration: none;
    color: inherit;
}
.text-justify{
    text-align: justify;
}
.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    font-family: title;
}
.text {
    font-family: text;
}

/*Estilo navbar*/
.foto {
    background-image: url(../images/bg.png);
    height: 280px;
}

.foto a {
    font-family: text;

}

.title h1 {
    font-size: 50px;
    font-family: title;
    color: white;
    margin-bottom: 0px;
    margin-left: 20px;
    padding-bottom: 0px;
}

.title h6 {
    color: white;
    font-size: 10px;
}

.navbar-toggler {
    margin-right: 20px;
    color: white;
    background: rgba(255, 255, 255, 0.6);
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 20px;
    padding: 10px;
    border-color: #e3e3e3;
    box-shadow: 1px 1px 1px #db7878;
    border-radius: 2px;
    width: fit-content;
    margin-bottom: 7px;
    float: right;
    color: white;
    width: 150px;
    background-color: rgb(194, 126, 106, 0.5);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    font-weight: bold;
}

/*FIN estilo navbar*/


/*Fuentes*/
@font-face {
    font-family: title;
    src: url(../fonts/TAKOYAKI.ttf);
}

@font-face {
    font-family: text;
    src: url(../fonts/Champagne\ &\ Limousines.ttf);
}