/*Estilo navbar*/

.foto{
    background-image: url(../images/bg.png);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 250px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

.title h1{
    font-size: 50px;
    font-family: title;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.title h6{
    font-family: title;
    color: white;
    font-size: 10px;
}

.navbar-light .navbar-toggler{
    color: white;
    background: white;
}
.navbar-light .navbar-nav .nav-link{
    margin-right: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border-color: #e3e3e3;
    box-shadow: 1px 1px 1px #db7878;
    border-radius: 2px;
    width: fit-content;
    margin-bottom: 7px;
    float: right;
    color: white;
    background-color: rgb(194, 126, 106, 0.5);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: white;
    /*border-radius: 30px;*/
    font-weight: bold;
}
/*FIN estilo navbar*/

/*Fuentes*/
@font-face {
    font-family: title;
    src: url(../fonts/TAKOYAKI.ttf);
}
@font-face {
    font-family: text;
    src: url(../fonts/Champagne\ &\ Limousines.ttf);
}