body, html {
    height: 100%;
}

/*Estilo card*/
.card{
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card a{
    text-decoration: none;
    color: white;
    text-shadow: black 1px;
    -webkit-text-stroke: 1px black;

}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    opacity: 1;
}

/*Fin estilo card*/
.prueba{
    height: 1000px;
}
/*JR PASS*/
.parallax {
    background-image: url(../images/jrpass.png);
    height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.parallax h1, h4{
    font-family: text;
}
.parallax a{
    color: black;
    text-decoration: none;
}
/*Fin JR PASS*/

@media screen and (max-width:600px){
    .card h5{
        font-size: 15px;
    }
}