body, html {
    height: 100%;
}

/*Estilo card*/
.card{
    border-radius: 10px;
    opacity: 0.7;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-shadow: #4a4c76 1px;
    background-color: rgba(255, 255, 255, 0.493);
    font-family: text;
    padding: 2px;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    opacity: 1;
}

/*Fin estilo card*/
.introBG{
    background-image: url(../images/introbg.gif);
    height: 260px;
    font-family: title;
}

/*JR PASS*/
.parallax {
    background-image: url(../images/jrpass.png);
}
.parallax h1, h4{
    font-family: text;
}
.parallax a:hover{
   color: white;
}
/*Fin JR PASS*/

@media screen and (max-width:600px){
    .card h5{
        font-size: 15px;
    }
}